.overlay-buttons {
    position: fixed;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    z-index: 10000;
}

.overlay-buttons button {
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 14px;
}

.overlay-buttons .show-overlay {
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
}

.overlay-buttons .custom-ui {
    background: linear-gradient(45deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #8B00FF);
    border: none;
    color: #ffffff;
}

.overlay-buttons .github {
    background-color: #24292F;
    border: 1px solid #2C313C;
    color: #ffffff;
}

.overlay-buttons .npm {
    background-color: #CB0000;
    border: 1px solid #B61C1C;
    color: #ffffff;
}

.overlay-buttons button:hover {
    opacity: 0.8;
}